*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.facebook_setup.rb

# YARD artifacts
.yardoc
_yardoc
#doc/

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log

# running pow server
.powrc

# ignore rubymine
/.idea

